.autoCompleteInputContainer {
  position: relative;
  margin: 5px 0 5px 0;
  input {
    width: 13rem;
    list-style: none;
    font-size: 16px;
    border-bottom: 1px solid var(--input-border-color);
    border-radius: 50px;
    padding: var(--input-padding);

    &:hover {
      cursor: pointer;
    }
  }

  .addressSuggestions {
    position: absolute;
    top: 1.75em;
    background-color: white;
    border: 1px solid var(--input-border-color);
    overflow: hidden;
    border-radius: 4px;
    color: black;
    z-index: 999;
    padding: 0;

    li {
      list-style: none;
      padding: var(--input-padding);
      font-family: var(--font-family); //add

      &:hover {
        background-color: rgb(22, 66, 128);
        cursor: pointer;
      }
    }
  }
}
