.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(90, 21, 71);
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
  h1 {
    padding: 2rem;
  }
}
