.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.favorite-icon {
  margin-left: auto;
  color: var(--primary-gray);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;

  &--active {
    color: var(--accent-orange);
  }
}