.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: bolder;
  max-width: 400px;
  max-height: 400px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.button {
  padding: 5px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--input-border-color);
  font-family: var(--font-family);
  font-size: 16px;
  transition: background-color 0.3s ease;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  &:hover {
    background-color: #3a77f7;
  }
}
.wrapper-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
  max-width: 400px;
  max-height: 250px;
  background-color: var(--primary-color);
}

.country-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 50px;

  h2 {
    margin: 0;
    font-size: 16px;
    color: #333;
    margin-right: 5px;
    font-family: var(--font-family);
  }

  .delete-button {
    background-color: var(--button-hover-color);
    color: var(--input-border-color);
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;

    &:hover {
      background-color: #bdbdbd;
      color: #333;
      cursor: pointer;
    }
  }
}
.error-message {
  font-size: 16px;
  font-weight: bold;
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  animation: fadeIn 0.5s ease; // Add fadeIn animation
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
