@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  background-image: url('../src/assets/fAV7gHDvYoCOk6cmIS0CoGs.jpg');
  background-size: cover;
  // background-position: bottom;
  // max-height: 700px;
  // background: rgb(90, 21, 71);
  color: white;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  width: 1000px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

@media only screen and (max-width: 700px) {
  .App {
    flex-direction: column;
    align-items: center;
  }

  #root {
    justify-content: start;
  }
}
